/* js.css */

/* ====== tabcontent========= */
.js .js-tabcontent section{
    display: none;
}

.js-tabcontent section.ativo {
    display: block !important;
    animation: show .5s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* ========= Accordion-List ========= */
.js .js-accordion dd {
    display: none;
}


.js-accordion dt::after {
    content: '↴';
    margin-left: 10px;
}

.js-accordion dt.ativo::after {
    content: '⬏';
}

.js-accordion dd.ativo {
    display: block;
    animation: slideDown .8s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }   
}

/* ===================== Animação ao Scroll ========================== */

.js .js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0 );
}

.js .js-scroll.animar {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: .3s;
}